header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: var(--Background-Color);
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}