.filter-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.filter-options {
    display: flex;
    align-items: center;
    gap: 4px;
}

.radio-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    border-radius: 50px;
    cursor: pointer;
    padding: 6px 10px;
    transition: background-color 200ms, box-shadow 200ms;
    user-select: none;
    position: relative;
}

.radio-label input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip-path: rect(0 0 0 0);
    white-space: nowrap;
}

.radio-label .radio-text {
    pointer-events: none;
}

.radio-label input:checked+.radio-text {
    background-color: var(--Red-400);
    color: var(--Neutral-100);
    padding: 6px 10px;
    border-radius: 50px;
}

.radio-label:hover {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.08);
}